<div class="grid-4 mc-grid-12 padded "><img src="https://static-eu.insales.ru/files/1/17/3121169/original/chto-takoe-3d-printer.jpg" alt="Что такое 3д принтер? 3D-принтер - это устройство, использующее метод послойного создания физического объекта по цифровой 3D модели" width="500" height="438"></div>
<div>
    <p><strong>3D–принтер — </strong>Это инновационная технология, которая позволяет создавать физические объекты из цифровой модели. Всё началось в 80-х годах под названием «быстрое прототипирование», потому что это было целью технологии: создать прототип быстрее и дешевле. С тех пор многое изменилось, и сегодня 3D-принтеры предлагают потрясающие результаты и позволяют создавать все, что вы можете себе представить.</p>
    <p><strong>Оглавление:</strong></p>
    <ul>
        <li class="grid-4 mc-grid-12 "><a title="Что такое процесс 3д печати" href="#cho-takoe">Что такое 3D–печать?</a></li>
        <li class="grid-4 mc-grid-12 "><a title="Как работеет и какие технологии использует 3д принтер" href="#kak-rabotaet">Как работает 3D-принтер?</a></li>
        <li class="grid-4 mc-grid-12 "><a title="Что можно создать на 3D-принтере" href="#chto-pechatat">Что можно напечатать?</a></li>
    </ul>
</div>
</div>
<div class="grid-inline canter padded-inner-bottom">
    <p class="grid-4 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5216/3052640/original/img-3d-printing-1-preview.jpg" alt="Что можно напечатать на 3д принтере" width="400" height="400"></p>
    <p class="grid-4 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5217/3052641/original/img-3d-printing-2-preview.jpg" alt="Напечатано на 3д принтере" width="400" height="400"></p>
    <p class="grid-4 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5241/3052665/original/img-3d-printing-3-preview.jpg" alt="Напечатать на 3д принтере" width="400" height="400"></p>
</div>
<h3>3D-принтер позволяет создавать физические объекты, которые практически идентичны виртуальным.</h3>
<p>Именно поэтому сфера применения данных технологий так широка.</p>
<hr>
<h2 id="cho-takoe" class="padded-inner-top">Что такое 3D–печать?</h2>
<div class="adaptive grid-inline grid-inline-top ">
    <div class="lg-grid-6 sm-grid-12 padded">
        <p><strong>3D-печать — это процесс аддитивного производства</strong>, потому что, в отличие от традиционного субтрактивного производства, трехмерная печать не удаляет материал, а добавляет его, слой за слоем — то есть выстраивает или выращивает.</p>
        <ol>
            <li>На первом этапе печати данные из чертежа или 3D–модели считываются принтером.</li>
            <li>Далее идет последовательное наложение слоев.</li>
            <li>Эти слои, состоящие из листового материала, жидкости или порошка соединяются друг с другом, превращаясь в окончательную форму.</li>
        </ol>
        <p><strong>При производстве ограниченного количества деталей</strong> 3D-печать будет быстрее и обойдет дешевле. Мир 3D-печати не стоит на месте и поэтому на рынке появляется все больше различных технологий, конкурирующих между собой. Разница их заключается в самом процессе печати. Одни технологии создают слои путем размягчения или плавления материала, затем они обеспечивают послойное нанесение этого самого материала. Другие технологии предусматривают использование жидких материалов, обретающих в процессе твердую форму под воздействие разнообразных факторов.</p>
    </div>
    <div class="lg-grid-6 sm-grid-12 ">
        <p><strong>Для того, чтобы что-то напечатать</strong>, сначала вам понадобится 3D-модель объекта, который вы можете создать в программе 3D-моделирования (CAD — Computer Aided Design), или использовать <a title="3д сканеры" href="/collection/3d-scanners">3D-сканер</a> для сканирования объекта, который вы хотите печатать. Есть также более простые варианты, такие как <a title="модели для 3д принтера" href="https://3dpt.ru/page/3d-models">поиск моделей в Интернете</a>, которые были созданы и доступны другим людям.</p>
        <p><strong>После того, как ваш проект готов</strong>, все, что вам нужно сделать, это импортировать его в <a title="Программы для 3д печати" href="/page/soft">Слайсер</a>, программа&nbsp;которая адаптирует модель в коды и инструкции для 3D–принтера, большинство программ с открытым исходным кодом и распространяются бесплатно. Слайсер преобразует ваш проект в файл gcode, готовый к печати как физический объект. Просто сохраните файл на прилагаемой SD-карте и вставьте его в свой 3D–принтер и нажмите печать.</p>
        <p><strong>На весь процесс может уйти нескольких часов</strong>, а иногда и несколько дней. Все зависит от размера, материала и сложности модели. Некоторые 3D-принтеры используют два различных материала. Один из них является частью самой модели, другой выступает в роли подпорки, которая поддерживает части модели, нависающие в воздухе. Второй материал в дальнейшем удаляется.</p>
    </div>
</div>
<div class="grid-inline center padded-inner-bottom">
    <p class="grid-4 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/4918/3199798/original/3D-printer-how-it-works-01-preview.jpg" alt="Моделирование для 3д принтера" width="400" height="400" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/4920/3199800/original/3D-printer-how-it-works-01.gif"></p>
    <p class="grid-4 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/4924/3199804/original/3D-printer-how-it-works-02-preview.jpg" alt="процесс печати на 3д принтере" width="400" height="400" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/4919/3199799/original/3D-printer-how-it-works-02.gif"></p>
    <p class="grid-4 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/4925/3199805/original/3D-printer-how-it-works-03-preview.jpg" alt="Готовый распечатанный объект" width="400" height="400" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/4921/3199801/original/3D-printer-how-it-works-03.gif"></p>
</div>
<hr>
<h2 id="kak-rabotaet" class="padded-inner-top">Как работает 3D-принтер?</h2>
<p>Хотя существует несколько технологий 3D-печати, большинство из них создают объект, наращивая множество последовательных тонких слоев материала. Обычно настольные 3D-принтеры используют <strong>пластиковые нити (1)</strong>, которые подаются в принтер <strong>податчиком (2)</strong>. Нить плавится в <strong>печатающей головке (3)</strong>, которая выдавливает материал <strong>на платформу (4)</strong>, создавая объект слой за слоем. Как только принтер начнет печатать, все, что вам нужно делать, это подождать — это просто.</p>
<div class="grid-inline center padded-zero ">
    <ol>
        <li class="grid-6 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5063/3199943/original/3D-printer-how-it-works-1-01-preview.jpg" alt="пластик для 3d принтера" width="600" height="300" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/5073/3199953/original/3D-printer-how-it-works-1-01.gif"></li>
        <li class="grid-6 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5064/3199944/original/3D-printer-how-it-works-1-02-preview.jpg" alt="Податчик 3д принтера" width="600" height="300" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/5070/3199950/original/3D-printer-how-it-works-1-02.gif"></li>
        <li class="grid-6 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5066/3199946/original/3D-printer-how-it-works-1-03-preview.jpg" alt="Печатающая головка 3д принтера" width="600" height="300" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/5074/3199954/original/3D-printer-how-it-works-1-03.gif"></li>
        <li class="grid-6 mc-grid-12 padded center"><img src="https://static-eu.insales.ru/files/1/5068/3199948/original/3D-printer-how-it-works-1-04-preview.jpg" alt="Стол печати 3д принтера" width="600" height="300" onmouseover="this.setAttribute('data-original-src', this.src);this.src=this.getAttribute('data-rollover');" onmouseout="this.src=this.getAttribute('data-original-src');this.removeAttribute('data-original-src');" data-rollover="https://static-eu.insales.ru/files/1/5072/3199952/original/3D-printer-how-it-works-1-04.gif"></li>
    </ol>
</div>
<p>
    <br>
    <br>Конечно, когда вы станете продвинутым пользователем, игра с настройками и настройкой вашего принтера может привести к еще лучшему&nbsp;результату.
    <br>
    <br>Чтобы узнать больше о том, как работает 3D-печать, читайте: <span class="button button--invert"><a title="Как подружиться с 3D-принтером" href="/blogs/support">Техподдержка</a></span>&nbsp;и <span class="button button--invert"><a title="Новости о 3D-принтерах" href="/blogs/blog">Новости&nbsp;3D-печати</a></span></p>
<hr>
<h2 id="chto-pechatat" class="padded-inner-top">Что можно напечатать на 3D-принтере?</h2>
<p><strong>Возможности 3D-принтеров безграничны</strong>, и теперь они становятся обычным инструментом в таких областях, как инженерия, промышленный дизайн, производство и архитектура. Вот некоторые типичные примеры использования:</p>
<div class="grid-inline padded-center"><img class="grid-3 mc-grid-12 padded center" src="https://static-eu.insales.ru/files/1/5348/3052772/original/img-3d-printing-what-to-print-1.jpg" alt="Печать обуви на 3д принтере">
    <div class="grid-9 mc-grid-12 padded">
        <h3>Персонализированные (Custom) модели</h3>
        <p>Создавайте персонализированные продукты, которые полностью соответствуют вашим потребностям с точки зрения размера и формы. Сделайте что-то, что было бы невозможно с помощью любых других технологий.</p>
    </div>
</div>
<div class="grid-inline padded-center"><img class="grid-3 mc-grid-12 padded center" src="https://static-eu.insales.ru/files/1/5350/3052774/original/img-3d-printing-what-to-print-2.jpg" alt="3д печать радиоуправляемых моделей">
    <div class="grid-9 mc-grid-12 padded">
        <h3>Быстрое прототипирование</h3>
        <p>Трехмерная печать позволяет быстро создать модель или прототип, помогая инженерам, дизайнерам и компаниям получить обратную связь по своим проектам за короткое время.</p>
    </div>
</div>
<div class="grid-inline padded-center"><img class="grid-3 mc-grid-12 padded center" src="https://static-eu.insales.ru/files/1/5351/3052775/original/img-3d-printing-what-to-print-3.jpg" alt="3д печать сложных объектов">
    <div class="grid-9 mc-grid-12 padded">
        <h3>Сложная геометрия</h3>
        <p>Модели, которые трудно даже представить, могут быть легко созданы на 3D-принтере. Эти модели хороши для обучения других по сложной геометрии интересным и полезным способом.</p>
    </div>
</div>
<div class="grid-inline padded-center"><img class="grid-3 mc-grid-12 padded center" src="https://static-eu.insales.ru/files/1/5352/3052776/original/img-3d-printing-what-to-print-4.jpg" alt="Серийное производство на 3д принтере">
    <div class="grid-9 mc-grid-12 padded">
        <h3>Снижение затрат</h3>
        <p>Стоимость деталей и прототипов конечного использования 3D-печати низкая благодаря используемым материалам и технологии. Сокращается время производства и расход материала, так как вы можете многократно печатать модели, используя только необходимый материал.</p>
    </div>
</div>
<p><span> <a class="category button button--invert button--big center" title="Как купить 3D-принтер?" href="/page/3d-printer-types">Как выбрать и купить 3D-принтер? →</a> </span></p>