<div class="section">
  <%= render(partial: '/cms/form', locals: {action: 'update', record: @proxy, fields: @form_fields, errors: @errors}) %>
</div>
<div class="section">
  <%= link_to('Delete', cms_proxy_path(@proxy), method: :delete, class: 'btn btn-danger') %>
</div>
