<%= link_to('New', new_cms_proxy_path, class: 'btn btn-success mrg_btm') %>
<%= link_to('Parse', cms_parse_proxies_path, method: :post, class: 'btn btn-success mrg_btm') %>
<%=
  render(
    partial: 'cms/table',
    locals: {
      url: cms_proxies_path(format: :json),
      headers: @table_headers,
      side_pagination: 'server'
    }
  )
%>