<%= link_to('New', new_cms_rewrite_task_template_path, class: 'btn btn-success mrg_btm') %>
<%=
  render(
    partial: 'cms/table',
    locals: {
      url: cms_rewrite_task_templates_path(format: :json),
      headers: @table_headers,
      side_pagination: 'server'
    }
  )
%>