<% 
  errors ||= {} 
  url = url.nil? ? {action: action} : url
  btn_text ||= 'Save'
  btn_class ||= 'btn btn-success'
%>
<%= form_for(record, url: url) do |f| %>
  <% fields.each do |field| %>
    <% case field[:type] %>
    <% when FormFieldType::TEXT_FIELD %>
      <div class='form-group'>
        <%= f.label field[:key], field[:label] %>
        <%= f.text_field field[:key], class: "form-control #{errors[field[:key]].blank? ? '' : 'is-invalid'}", autocomplete: :off %>
        <div class="invalid-feedback">
          <%= (errors[field[:key]] || []).join(', ') %>
        </div>
      </div>
    <% when FormFieldType::TEXT_AREA %>
      <div class='form-group'>
        <%= f.label field[:key], field[:label] %>
        <%= f.text_area field[:key], rows: 10, class: "form-control #{errors[field[:key]].blank? ? '' : 'is-invalid'}", autocomplete: :off %>
        <div class="invalid-feedback">
          <%= (errors[field[:key]] || []).join(', ') %>
        </div>
      </div>
    <% when FormFieldType::CHECK_BOX %>
      <div class='form-group form-check'>
        <%= f.check_box field[:key], class: "form-check-input #{errors[field[:key]].blank? ? '' : 'is-invalid'}" %>
        <%= f.label field[:key], field[:label], class: 'form-check-label' %>
        <div class="invalid-feedback">
          <%= (errors[field[:key]] || []).join(', ') %>
        </div>
      </div>
    <% when FormFieldType::RADIO_BUTTON %>
      <div class='form-group'>
        <label>Status</label>
        <% field[:buttons].each do |button| %>
          <div class='form-check'>
            <%= f.radio_button field[:key], button[:value], class: "form-check-input #{errors[field[:key]].blank? ? '' : 'is-invalid'}" %>
            <%= f.label field[:key], button[:label], class: 'form-check-label' %>
            <div class="invalid-feedback">
              <%= (errors[field[:key]] || []).join(', ') %>
            </div>
          </div>
        <% end %>
      </div>
    <% when FormFieldType::NUMBER_FIELD %>
      <div class='form-group'>
        <%= f.label field[:key], field[:label] %>
        <%= f.number_field field[:key], class: "form-control #{errors[field[:key]].blank? ? '' : 'is-invalid'}", autocomplete: :off %>
        <div class="invalid-feedback">
          <%= (errors[field[:key]] || []).join(', ') %>
        </div>
      </div>
    <% when FormFieldType::SELECT %>
      <div class='form-group'>
        <%= f.label field[:key], field[:label] %>
        <%= f.select field[:key], field[:options], { include_blank: field[:include_blank] }, class: "form-control #{errors[field[:key]].blank? ? '' : 'is-invalid'}" %>
        <div class="invalid-feedback">
          <%= (errors[field[:key]] || []).join(', ') %>
        </div>
      </div>
    <% when FormFieldType::RICH_TEXT %>
      <div class='form-group'>
        <%= f.label field[:key], field[:label] %>
        <%= f.hidden_field field[:key], rows: 10, class: "form-control #{errors[field[:key]].blank? ? '' : 'is-invalid'}", autocomplete: :off, id: field[:id] %>
        <trix-editor input="<%= field[:id] %>"></trix-editor>
        <div class="invalid-feedback">
          <%= (errors[field[:key]] || []).join(', ') %>
        </div>
      </div>
    <% when FormFieldType::HIDDEN %>
      <%= f.hidden_field field[:key] %>
    <% end %>
    <%
      errors.delete(field[:key])
    %>
  <% end %>
  <% unless errors.blank? %>
    <div>
      <p>Other errors:</p>
      <% errors.each do |key, value| %>
        <p><%= "#{key}: #{value.join(', ')}" %></p>
      <% end %>
    </div>
  <% end %>
  <%= f.submit btn_text, class: btn_class %>
<% end %>