<div id="menu">
  <div>
    <a>Parsing</a>
    <div class="sub_menu">
      <%= link_to('Tasks', cms_parsing_tasks_path) %>
      <%= link_to('Articles', cms_parsing_all_articles_path) %>
    </div>
  </div>
  <div>
    <a>Rewrite</a>
    <div class="sub_menu">
      <%= link_to('Task templates', cms_rewrite_task_templates_path) %>
      <%= link_to('Tasks', cms_rewrite_tasks_path) %>
    </div>
  </div>
  <div>
    <%= link_to('Articles', cms_articles_path) %>
  </div>
  <div>
    <%= link_to('Proxies', cms_proxies_path) %>
  </div>
</div>