<%
  side_pagination = defined?(side_pagination) ? side_pagination : 'client'
%>

<table
  id="tasks_table"
	class="table"
  data-toggle="table"
  data-url="<%= url %>"
  data-pagination="true"
  data-side-pagination="<%= side_pagination %>"
  data-page-size="25">
  <thead class="thead-dark">
    <tr>
      <% headers.each do |header| %>
        <th data-field="<%= header[:field] %>"><%= header[:title] %></th>
      <% end %>
    </tr>
  </thead>
</table>
