body, html {
  height: 100%;
  margin: 0;
  padding: 0;

  #content {
    margin-left: 200px;
    padding: 8px;

    .section {
      margin-bottom: 8px;
    }
  }

  .mrg_btm {
    margin-bottom: 8px;
  }

  .block {
    margin-top: 8px;
    border-top: 2px solid black;
    padding-top: 8px;
  }
}