#menu {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 8px;
  background-color: black;
  
  a {
    color: white;
    font-size: 24px;
  }

  .sub_menu {
    margin-left: 8px;

    a {
      display: block;
      font-size: 18px;
    }
  }
}