<% if @task.id.nil? %>
  $("#rewrite_task_form").html("<%= j render(partial: '/cms/form', locals: {action: 'create', record: @task, fields: @form_fields, errors: @errors}) %>");
<% else %>
  $("#rewrite_task_form").html("<%= j render(partial: '/cms/form', locals: {url: cms_rewrite_task_path(@task.id), record: @task, fields: @form_fields, errors: @errors}) %>");
<% end %>
