<div class="section" id="rewrite_task_form">
  <%= render(partial: '/cms/form', locals: {action: 'update', record: @task, fields: @form_fields, errors: @errors}) %>
</div>
<div class="section">
  <%= link_to('Опубликовать', cms_rewrite_task_publish_path(@task.id), method: :post, class: 'btn btn-success') %>
</div>