<div class="section">
  <%= render(partial: '/cms/form', locals: {action: 'update', record: @article, fields: @form_fields, errors: @errors}) %>
</div>
<div class="section">
  <%= link_to('Create rewrite task', new_cms_rewrite_task_path(p_article_id: @article.id), class: 'btn btn-success') %>
</div>