<%=
  render(
    partial: 'cms/table',
    locals: {
      url: cms_parsing_task_page_articles_path(page_id: @page.id, task_id: @page.task_id, format: :json),
      headers: @table_headers,
      side_pagination: 'server'
    }
  )
%>
