<%=
  render(
    partial: 'cms/table',
    locals: {
      url: cms_parsing_task_pages_path(task_id: @task.id, format: :json),
      headers: @table_headers,
      side_pagination: 'server'
    }
  )
%>
