<div class="section">
  <p>Task: <%= @result.task.title %></p>
  <p>Article: <%= @result.task.parsing_article.page.address %></p>
  <p>Status: <%= @result.status_to_s %></p>
  <p>Comment: <%= @result.performer_comment %></p>
  <p>File: <%= link_to('download', @result.result_url) %></p>
  <p>Text:</p>
  <div>
    <%= @result.result.html_safe %>
  </div>
  <p><%= link_to('Accept', cms_rewrite_task_result_accept_path(@result.id), method: :post, class: 'btn btn-success') %></p>
</div>
<div class="section">
  <%= render(partial: '/cms/form', locals: {url: cms_rewrite_task_result_decline_path(@result.id), record: @result, fields: @form_fields, errors: @errors, btn_text: 'Decline', btn_class: 'btn btn-danger'}) %>
</div>
<div class="section">
  <%= link_to('Create article', new_cms_article_path(result_id: @result.id), class: 'btn btn-success') %>
</div>