<div class="section">
  <%= render(partial: '/cms/form', locals: {action: 'update', record: @article, fields: @form_fields, errors: @errors}) %>
</div>
<div class="section">
  <%= link_to('Delete', cms_article_path(@article.id), method: :delete, class: 'btn btn-danger') %>
</div>