<%= render(partial: '/cms/form', locals: {action: 'update', record: @task, fields: @form_fields, errors: @errors}) %>
<div class="block">
  <%= link_to("Pages: #{@task.pages.count}", cms_parsing_task_pages_path(task_id: @task.id), class: 'btn btn-primary') %>
</div>