<%= link_to('New', new_cms_parsing_task_path, class: 'btn btn-success mrg_btm') %>
<%= render(partial: 'cms/table', locals: { url: cms_parsing_tasks_path(format: :json), headers: @table_headers }) %>












<%#
 <table id="table"
	data-toggle="table"
	data-locale="ru-RU"
	data-url="/cms/users.json"
	data-pagination="true"
	data-side-pagination="server"
	data-page-size="1000"
	data-page-list="[10, 50, 100, 250, 500, 1000, 2000, 5000, 10000]"
	data-response-handler="responseHandler"
	data-sort-name=" @sort_parameter "
	data-sort-order=" @sort_order.to_s ">
	<thead>
	<tr>
		<th data-field="id" data-sortable="true">#</th>
		<th data-field="name" data-sortable="true">ФИО</th>
		<th data-field="email" data-sortable="true">E-mail</th>
		<th data-field="phone" data-sortable="true">Телефон</th>
		<th data-field="city" data-sortable="true">Город</th>
		<th data-field="plan">План</th>
		<th data-field="created_at" data-sortable="true" data-sorter="date_sorter">Дата регистрации</th>
		<th data-field="coins" data-sortable="true">Количество монет</th>
		<th data-field="shares" data-sortable="true">Количество акций</th>
		<th data-field="rank_id" data-sortable="true">Текущий статус</th>
		<th data-field="is_client" data-sortable="true">Клиент/Не клиент</th>
		<th data-field="completion_time" >Регистрация-получение трейдера</th>
		<th data-field="activity_filter">Активность</th>
		<th data-field="gift_filter">Подарить акции</th>
	</tr>
	</thead>
</table>%>