<!DOCTYPE html>
<html>
  <head>
    <title>CMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'cms', media: 'all' %>
    <%= javascript_include_tag 'cms' %>
  </head>

  <body>
    <%= render partial: 'cms/menu' %>
    <div id="content">
      <div id="breadcrumbs" class="section">
        <%= render_breadcrumbs %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
